.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#nav {
  background-color: rgba(0, 0, 0, .51);
  color: #fff;
}

#nav img {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
}

#booking img {
  width: 100%;
}

#booking .icon-img {
  width: 10px;
}

nav li {
  margin-right: 20px;
}

main {
  background-image: url(./images/bg.png);
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;
  padding-top: 130px;
}

.bookingForm input {
  font-weight: bold;
  color: #282c34;
}

.login-box {
  width: 360px;
}

.register-box {
  width: 360px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}